<div class="history_record_item">
    <div class="history_record_link"><a href="/edit-plant-history/{{history_id}}">{{format_date_display dtstamp}}</a></div>
    <div class="history_record_spacer">-</div>
    <div class="history_record_rec_type"><p>{{rec_type}}</p></div>
    <div class="history_record_spacer">-</div>
    <div class="history_record_additinal_info"><p>{{additional_info}}</p></div>
</div>
