{{!-- will include row "blocks" of data to display" --}}

<li>
    <a href="/edit-plant-history/{{history_id}}">date stamp: {{format_date_display dtstamp}}</a>
    <p>recType: {{rec_type}}</p>
    <p>additional info: {{additional_info}}</p>

</li>

{{!-- this attempt is modeled off of an exercise from module 14 --}}

