<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Name TBD</title>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
        <nav>
            <div>
                <h1><a href="/">Project Name TBD</a></h1>
            </div>
            <div>
                <ul>
                    <li id="navLogin" style="display:none;"><a href="/login">Login</a></li>
                    <li id="navJoin" style="display:none;"><a href="/join">Join</a></li>
                    <li id="navDashboard" style="display:none;"><a href="/dashboard">Dashboard</a></li>
                    <li id="navSpecies" style="display:none;"><a href="/species">Species</a></li>
                    <li id="navLogout" style="display:none;"><a href="#" id="logout-link">Logout</a></li>
                </ul>
            </div>
        </nav>

        <header><!-- header image goes here --></header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <div>A Jasso, McClennan, Norman, Senneff Production</div>
            <div>All Rights Reserved</div>
        </footer>
    </body>

</html>
<script src="/javascript/navigation.js"></script>
<script src="/javascript/logout.js"></script>
