<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers 'N Stuff</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
        integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <nav>
        <div class="header">
            <h1><a href="#default" class="logo"><img class="image is-64x64" src="/assets/images/logo.jpg"
                        alt="wreath"></a>
            </h1>
            <h1><a href="/">Project Name TBD</a></h1>
            <div class="header-right">
                <a class="active" href="/">Login</a>
                <a href="/join">Join</a>
            </div>
        </div>
        <div>
            <ul>
                <li id="navLogin" style="display:none;"><a href="/login">Login</a></li>
                <li id="navJoin" style="display:none;"><a href="/join">Join</a></li>
                <li id="navDashboard" style="display:none;"><a href="/dashboard">Dashboard</a></li>
                <li id="navSpecies" style="display:none;"><a href="/species">Species</a></li>
                <li id="navLogout" style="display:none;"><a href="#" id="logout-link">Logout</a></li>
            </ul>
        </div>
    </nav>



    <main class="container">
        <header class="image">
            <!-- header image goes here -->
            <img class="media-left" src="/assets/images/homepage.jpg" alt="happy little flower">

        </header>



        <section class="text">
            <h2>Welcome to our gardening app!</h2>

            <p>Are you looking for a new way to track the health of your plant? Well, that's precisely what we want to
                help you with!
                Click on 'Join' and sign-up today to have access to a vast amount of information on your plant! Already
                a pant-friendly fellow?
                Click on 'Login' to access all of your saved information!</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla adipisci in modi. Repellendus inventore,
                labore aperiam voluptates voluptate fugit veritatis magni dicta blanditiis ea, ullam nisi reprehenderit.
                Omnis, quaerat ratione!</p>

            <section class="form">{{{body}}}</section>
        </section>

    </main>

    <footer class="header">
        <div class="header-left">
            <h4>A Jasso, McClellan, Norman, Senneff Production</h4>
        </div>
        <div class="header-right">
            <h4>All Rights Reserved</h4>
        </div>
    </footer>

</body>

</html>
<script src="/javascript/navigation.js"></script>
<script src="/javascript/logout.js"></script>