<div class="card">
  <div class="card-header">
    <h2>Join</h2>
  </div>
  <div id="join" role="tabpanel">
    <form id="join-form" class="card-body">
      <div>
        <label for="username-input-join">Username</label>
        <input type="text" id="username-input-join" />
      </div>
      <div>
        <label for="useremail-input-join">Email</label>
        <input type="text" id="useremail-input-join" />
      </div>
      <div>
        <label for="password-input-join">Password</label>
        <input type="password" id="password-input-join" maxlength="4" />
      </div>
      <button type="submit" id="join-btn" class="btn" >Join!</button>
      <a href="/login">Already a user?  Click here to sign in.</a>
    </form>
  </div>
</div>

<script src="/javascript/join.js"></script>