<div class="intro">
  <h1>
    Welcome to Weed It & Reap!
  </h1>
</div>
<div class="card">
  {{!-- <div class="card-header">
    <h2>Login</h2>
  </div> --}}
  <div class="introFormHeader">
    <p>
      <span style="font-weight: bold;">New to Weed It & Reap?  Use the join form below for access.</span><br />
      <a href="/login">Already a user? Click here to login.</a>
    </p>
  </div>
    <form id="join-form" class="card-body">
      <div>
        <label for="username-input-join">Username</label>
        <input type="text" id="username-input-join" required size="20" />
      </div>
      <div>
        <label for="useremail-input-join">Email</label>
        <input type="text" id="useremail-input-join" required size="40" />
      </div>
      <div>
        <label for="password-input-join">Password</label>
        <input type="password" id="password-input-join" required size="6" />
      </div>
      <button type="submit" id="join-btn" class="btn">Join!</button>
    </form>
  </div>
</div>



<script src="/javascript/join.js"></script>