<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="useremail-input-login">Useremail</label>
      <input type="text" id="useremail-input-login" />
    </div>
    <div>
      <label for="password-input-login">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a href="/join">Not already a user?  Click here to join.</a>
  </form>
</div>

<script src="/javascript/login.js"></script>