<div><a href="/new-plant">New Plant</a></div>
<div>
  {{#each posts}}
    <a href="/edit-plant/{{plant_id}}">
      <span>{{identifier}}</span>
      <span>{{format_date acquired_date}}</span>
    </a>
  {{/each}}
</div>