<form id="new-species-form">

    <div>
        <label class="form-label" for="species_common">Common Name</label>
        <input type="text" name="species_common" autofocus maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_botanical">Botanical Name</label>
        <input type="text" name="species_botanical" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_type">Type</label>
        <select name="species_type">
            {{#each newTypeList}}
                <option value="{{type_id}}">{{type_name}}</option>
            {{/each}}
        </select>
    <div>
        <label class="form-label" for="species_hardiness">What are the hardiness zones?</label>
        <input type="text" name="species_hardiness" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_tolerance">What is the sun tolerence?</label>
        <input type="text" name="species_tolerance" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_drainage">What type of drainage?</label>
        <input type="text" name="species_drainage" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_water">What is the water requirements?</label>
        <input type="text" name="species_water" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_feeding">What season to start feeding?</label>
        <input type="text" name="species_feeding" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_growth">What is the expected growth rate?</label>
        <input type="text" name="species_growth" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_width">Width of plant when mature (in inches)?</label>
        <input type="number" name="species_width" required />
    </div>
    <div>
        <label class="form-label" for="species_height">Height of plant when mature (in inches)?</label>
        <input type="number" name="species_height" required />
    </div>
    <div>
        <label class="form-label" for="species_spacing">Spacing of plant (in inches)?</label>
        <input type="number" name="species_spacing" required />
    </div>
    <div>
        <label class="form-label" for="species_depth">Depth of plant (in inches)?</label>
        <input type="number" name="species_depth" required />
    </div>
    <div>
        <label class="form-label" for="species_planting">Season to plant?</label>
        <input type="text" name="species_planting" maxlength="100" required />
    </div>
    <div>
        <label class="form-label" for="species_additional_info">Additional Info</label>
        <textarea name="species_additional_info" maxlength="500" required></textarea>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>

</form>

<script src="/javascript/new-species.js"></script>