<div>
    <h1 class="column is-multiline title">Create New Species</h1>
    <form class="columns" id="new-species-form">
        <div class="column">
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_common">Common Name</label>
                <input type="text" name="species_common" autofocus maxlength="100" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_botanical">Botanical Name</label>
                <input type="text" name="species_botanical" maxlength="100" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="type_id">Type</label>
                <select name="type_id">
                    {{#each newTypeList}}
                    <option value="{{type_id}}">{{type_name}}</option>
                    {{/each}}
                </select>
                <div>
                    <label class="form-label tag is-info is-light is-medium" for="species_hardiness">Hardiness
                        zones?</label>
                    <input type="text" name="species_hardiness" maxlength="100" required />
                </div>
                <div>
                    <label class="form-label tag is-info is-light is-medium" for="species_tolerance">Sun
                        tolerence?</label>
                    <input type="text" name="species_tolerance" maxlength="100" required />
                </div>
                <div>
                    <label class="form-label tag is-info is-light is-medium" for="species_drainage">
                        Drainage type?</label>
                    <input type="text" name="species_drainage" maxlength="100" required />
                </div>
                <div>
                    <label class="form-label tag is-info is-light is-medium" for="species_water">Water
                        requirements?</label>
                    <input type="text" name="species_water" maxlength="100" required />
                </div>
                <div>
                    <label class="form-label tag is-info is-light is-medium" for="species_feeding">Season to start
                        feeding?</label>
                    <input type="text" name="species_feeding" maxlength="100" required />
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_growth">Expected growth
                    rate?</label>
                <input type="text" name="species_growth" maxlength="100" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_width">Mature width (in
                    inches)?</label>
                <input type="number" name="species_width" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_height">Mature height
                    (in inches)?</label>
                <input type="number" name="species_height" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_spacing">Spacing of plant (in
                    inches)?</label>
                <input type="number" name="species_spacing" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_depth">Depth of plant (in
                    inches)?</label>
                <input type="number" name="species_depth" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_planting">Season to
                    plant?</label>
                <input type="text" name="species_planting" maxlength="100" required />
            </div>
            <div>
                <label class="form-label tag is-info is-light is-medium" for="species_additional_info">Additional
                    Info</label>
                <textarea class="textarea is-small" name="species_additional_info" maxlength="500" required></textarea>
            </div>
            <div class="create-btn">
                <button class="tag is-success is-medium" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>

<script src="/javascript/new-species.js"></script>