<div class="new-species"><a href="/new-species"><i class="fas fa-plus"></i>New Species</a></div>
<div class="edit-species">
  {{#each posts}}
  <a href="/edit-species/{{species_id}}">
    <span>{{common_name}}</span>
    <span>{{botanical_name}}</span>
  </a>
  {{/each}}
</div>