html {
  background-color: #175240;
}

.hero-body {
  padding: 0px;
}

.hero-body .container {
  margin: 0px;
}

.navbar-brand {
  font-size: 20px;
}

.navbar,
.footer {
  background-color: #175240;
}
.navbar-end a,
.navbar-brand a {
  margin-top: 5px;
  color: white;
}

.navbar-item {
  display: none;
}

.navbar-burger {
  color: white;
}

.hero-body {
  background-color: white;
}

.soc a i,
.footerText {
  color: white;
}

@media (max-width: 1020px) {
  body {
    font-size: 1.5rem;
  }
  a.navbar-item {
    font-size: 1.5rem;
  }
  .navbar-end a {
    color: #175240;
  }
}
